/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #e85858;
    padding: 0px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    z-index: 2;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    .web-title{
      font-size: 12px;
    }
  }

  .box {
    width: 117px;
    height: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: absolute;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    padding: 23px 5px;
  }
  
  .wave {
    opacity: .4;
    position: absolute;
    background: #0af;
    width: 100px;
    height: 100px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .web-title {
    position: absolute;
    left: 30px;
    top:-12px;
    width: 30%;
    z-index: 1;
    line-height: 91px;
    text-align: left;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 17px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }