.informationContainer{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    position: relative;
}
.informationContainer img{
    width: 200px;
    height: auto;
    border-radius: 10px;    
    padding: 5px;
    
}